.icon-circulation_of_money {
	width: 82px; height: 85px;
	background: url('../../img/sprites-png/a-dv-e-rt-i-se-r/sprites-a-dv-e-rt-i-se-r.png') -10px -100px;
}
.icon-devices {
	width: 101px; height: 70px;
	background: url('../../img/sprites-png/a-dv-e-rt-i-se-r/sprites-a-dv-e-rt-i-se-r.png') -10px -10px;
}
.icon-goal {
	width: 83px; height: 83px;
	background: url('../../img/sprites-png/a-dv-e-rt-i-se-r/sprites-a-dv-e-rt-i-se-r.png') -131px -10px;
}
.icon-tie {
	width: 77px; height: 87px;
	background: url('../../img/sprites-png/a-dv-e-rt-i-se-r/sprites-a-dv-e-rt-i-se-r.png') -234px -10px;
}
.icon-currency {
	width: 82px; height: 82px;
	background: url('../../img/sprites-png/publisher/sprites-publisher.png') -10px -116px;
}
.icon-settings {
	width: 80px; height: 84px;
	background: url('../../img/sprites-png/publisher/sprites-publisher.png') -224px -10px;
}
.icon-vectors {
	width: 89px; height: 86px;
	background: url('../../img/sprites-png/publisher/sprites-publisher.png') -10px -10px;
}
.icon-wheel {
	width: 85px; height: 85px;
	background: url('../../img/sprites-png/publisher/sprites-publisher.png') -119px -10px;
}
