// color's variables
$primary: #f53b57;
$contrast: #ffffff;
$secondary: #3e4660;
$light: #edeff2;
$success: #008000;
$danger: #ff0000;

// font's variables
$font-pt-sans: 'PT Sans Caption';
$font-pt-sans_bold: 'PT Sans Caption bold';

$font-gilroy-100: 'Gilroy thin';
$font-gilroy-100_italic: 'Gilroy thin italic';
$font-gilroy-200: 'Gilroy ultra light';
$font-gilroy-200_italic: 'Gilroy ultra light italic';
$font-gilroy-300: 'Gilroy light';
$font-gilroy-300_italic: 'Gilroy light italic';
$font-gilroy-400: 'Gilroy regular';
$font-gilroy-400_italic: 'Gilroy regular italic';
$font-gilroy-500: 'Gilroy medium';
$font-gilroy-500_italic: 'Gilroy medium italic';
$font-gilroy-600: 'Gilroy semibold';
$font-gilroy-600_italic: 'Gilroy semibold italic';
$font-gilroy-700: 'Gilroy bold';
$font-gilroy-700_italic: 'Gilroy bold italic';
$font-gilroy-800: 'Gilroy extra bold';
$font-gilroy-800_italic: 'Gilroy extra bold italic';
$font-gilroy-900: 'Gilroy black';
$font-gilroy-900_italic: 'Gilroy black italic';
$font-gilroy-heavy: 'Gilroy heavy';
$font-gilroy-heavy_italic: 'Gilroy heavy italic';
