@import "../../shared/variables";
@import "../../shared/mixin/px-to-rem";

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: rem(5);
	height: rem(48);
	white-space: nowrap;
	padding: 0 rem(20);
	min-width: 200px;
	color: $contrast;
	font-family: $font-gilroy-900;
	font-size: rem(18);
	font-weight: 400;
	line-height: 1;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: rem(3.6);
	transition: opacity .15s ease-in-out;
	
	@media screen and (max-width: 1366px){
		height: rem(40);
		padding: 0 rem(15);
		font-size: rem(16);
	}
	
	&-primary {
		background-color: $primary;
	}
	
	&:hover {
		opacity: .85;
	}
}
