<header class="header">

    <div class="header__container">
        <a href="/" class="header__logo logo wowHeader slideInDownFadeIn" data-wow-delay="0s">
            <img src="img/general/logo.png" alt="logo">
            <span class="logo__text">vyadd</span>
        </a>
        <!-- /.logo -->

        <nav class="header__nav nav">
            <a href="" class="nav__link wowHeader slideInDownFadeIn" data-wow-delay=".1s">about</a>
            <a href="" class="nav__link wowHeader slideInDownFadeIn" data-wow-delay=".2s">for publisher</a>
            <a href="" class="nav__link wowHeader slideInDownFadeIn" data-wow-delay=".3s">for advertiser</a>
            <a href="" class="nav__link wowHeader slideInDownFadeIn" data-wow-delay=".4s">RTB MARKETPLACE</a>
            <a href="" class="nav__link wowHeader slideInDownFadeIn" data-wow-delay=".5s">contacts</a>
        </nav>
        <!-- /.nav -->

        <div class="header__auth auth">
            <a href="" class="auth__link wowHeader slideInDownFadeIn" data-wow-delay=".5s">sign up</a>
            <a href="" class="auth__link wowHeader slideInDownFadeIn" data-wow-delay=".6s">login</a>
        </div>
        <!-- /.auth -->

        <div class="header__btn">
            <button class="btn-menu" id="btnMenu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <!-- /.header__btn -->

    </div>
    <!-- /.header__container -->

</header>
<!-- /.header -->
