<div class="menu-drop">
    <button type="button" class="btn-menu-close" id="btnMenuClose">
        <svg width="20" height="20">
            <use xlink:href="#close"></use>
        </svg>
    </button>
    <nav class="nav">
        <a href="#about" class="nav__link wowHeader slideInDownFadeIn" data-wow-delay=".1s">about</a>
        <a href="#publisher" class="nav__link wowHeader slideInDownFadeIn" data-wow-delay=".2s">for publisher</a>
        <a href="#a-d-v" class="nav__link wowHeader slideInDownFadeIn" data-wow-delay=".3s">for advertiser</a>
        <a href="#rtb" class="nav__link wowHeader slideInDownFadeIn" data-wow-delay=".4s">RTB MARKETPLACE</a>
        <a href="#contact" class="nav__link wowHeader slideInDownFadeIn" data-wow-delay=".5s">contacts</a>
    </nav>
    <!-- /.nav -->

    <div class="auth">
        <a href="" class="auth__link wowHeader slideInDownFadeIn" data-wow-delay=".5s">sign up</a>
        <a href="" class="auth__link wowHeader slideInDownFadeIn" data-wow-delay=".6s">login</a>
    </div>
    <!-- /.auth -->
</div>
<!-- /.menu-drop -->
