@import "shared/variables";
@import "shared/mixin/px-to-rem";

body {
  font-size: rem(15);
  font-family: $font-gilroy-400;
  line-height: 2.3333;
  color: $secondary;
}

figure {
  margin: 0;
}

br {
  @media screen and (max-width: 1366px) {
    display: none;
  }
}
